<div class="sidebar-div">
    <h1 class="headings">Investo</h1>
    <nav class="sidebar-nav">
        <ul>
            <li>
                <a routerLink="/dashboard" (click)="toggleColor1()"><div class="navbar-1 hover-items1" [class.blue-bg1]="isBlue1"><img class="img-sidebar" src="https://img.icons8.com/?size=100&id=F28yEPaIjm4o&format=png&color=000000" alt="dashboard-logo"><div class="content-media">Dashboard</div></div></a>
            </li>
            <li>
                <a routerLink="/inventory" (click)="toggleColor2()"><div class="navbar-1 hover-items2" [class.blue-bg2]="isBlue2"><img class="img-sidebar" src="https://img.icons8.com/?size=100&id=97492&format=png&color=000000" alt="inventory-logo"><div class="content-media">Inventory</div></div></a>
            </li>
            <li>
                <a routerLink="/tracking" (click)="toggleColor3()"><div class="navbar-1 hover-items3" [class.blue-bg3]="isBlue3"><img class="img-sidebar" src="https://img.icons8.com/?size=100&id=wwEQQJKR9G23&format=png&color=000000" alt="tracking-logo"><div class="content-media">Tracking</div></div></a>
            </li>
            <li>
                <a routerLink="/order" (click)="toggleColor4()"><div class="navbar-1 hover-items4" [class.blue-bg4]="isBlue4"><img class="img-sidebar" src="https://img.icons8.com/?size=100&id=AgpNCyq2TYrv&format=png&color=000000" alt="order-logo"><div class="content-media">Order</div></div></a>
            </li>
            <li>
                <a routerLink="/report" (click)="toggleColor5()"><div class="navbar-1 hover-items5" [class.blue-bg5]="isBlue5"><img class="img-sidebar" src="https://img.icons8.com/?size=100&id=113129&format=png&color=000000" alt="report-logo"><div class="content-media">Report Analytics</div></div></a>
            </li>
            <li>
                <a routerLink="/auth" (click)="toggleColor6()"><div class="navbar-1 hover-items6" [class.blue-bg6]="isBlue6"><img class="img-sidebar" src="https://img.icons8.com/?size=100&id=8HhlMioxGNHd&format=png&color=000000" alt="authuser-logo"><div class="content-media">User Authentication</div></div></a>
            </li>
            <li>
                <a routerLink="/settings" (click)="toggleColor7()"><div class="navbar-1 hover-items7" [class.blue-bg7]="isBlue7"><img class="img-sidebar" src="https://img.icons8.com/?size=100&id=364&format=png&color=000000" alt="settings-logo"><div class="content-media">Setting</div></div></a>
            </li>
        </ul>
    </nav>
    
</div>

