header{
    text-align: center;
    background-color: grey;
    padding :10;
}
nav{
    background-color: black;
    padding: 10;
}
nav ul{
    color:azure;
    list-style: none;
    text-align: center;  
}
nav li{
    display: inline;
    padding-left: 5;
    padding-right: 5;
}
nav a{
    color: white;
    text-decoration: none;
}
footer{
    bottom: 0;
    position: fixed;
    background-color: grey;
    width: 100%;
    text-align: center;
}
.display-block{
    text-align: center;
    padding: 4;
    margin-top: 10;
    margin-bottom: 10;
    display: block;
    background-color: aqua;
    line-height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.inline-element {
    text-align: center;
}

.inline-vertical{
    text-align: center;
    display: inline;
    background-color: aquamarine;
    line-height: 10vh;
    width: 100%;
    padding:20 ;
    margin-top: 10;
    margin-bottom: 10;
    color: white;
}
.inline-block{
    text-align: center;
}
.inline-block-element{
    display: inline-block;
    background-color: orange;
    padding: 20;
    margin-top: 10;
    margin-bottom: 10;
    color: white;

}