body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    border: 1px solid skyblue;
    padding: 4px;
}
.todo-border{
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
}
#to-do{
    padding: 15px;
    width: 300px;
}
#add-task{
    background-color: dodgerblue;
    color: white;
    border: 1px solid dodgerblue;
    padding: 15px;
}
#add-task:hover{
    background-color: rgb(5, 130, 255);
}
.task-row {
  border-bottom: 1px solid black;
}
