*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
}
nav{
    display: flex;
    justify-content: center;
    background-color: black;
}
.nav-link{
    text-decoration: none;
}
nav ul{
    display: flex;
    list-style: none;
    padding:2px ;
    margin: 2px;
}
nav a{
    color: white;
}
nav li{
    margin: 0 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.universal-selector{
    background-color: grey;
    margin: 2px;
    padding: 6px;
}
.type-selector{
    background-color: grey;
    margin: 2px;
    padding: 6px;
}
.type-selector p{
    color: red;
}

.class-selector{
    background-color: yellow;
    margin: 2px;
    padding: 6px;
}
#id-selector{
    background-color: grey;
    margin: 2px;
    padding: 6px;
}
#id-selector h1{
    color: deeppink;
}
#id-selector p{
    color: deeppink;
}
.attribute-selector{
    background-color: grey;
    margin: 2px;
    padding: 6px;
}
input[type="text"]{
    border: 3px;
}
.descendant-selector{
    background-color: grey;
    margin: 2px;
    padding: 6px;
}
div p{
    color:blue;
}
.child-selector{
    background-color: grey;
    margin: 2px;
    padding: 6px;
}
ul>li{
    list-style: none;
}
.adjacent-sibling{
    background-color: grey;
    margin: 2px;
    padding: 6px;
}
.adjacent-sibling h1{
    margin-bottom: 0;
}
.adjacent-sibling h2{
    margin-bottom: 0;
}

.adjacent-sibling p{
    color: aqua;
}
h2+p{
    margin-top: 0;
    
}

.general-sibling{
    background-color: grey;
    margin: 2px;
    padding: 6px;
}
h2~p{
    color: green;
}

footer{
    background-color: grey;
    margin: 2px;
    padding: 6px;
    text-align: center;
}
